DJANGO_ENV=local   # for dev and prod --->> "dev", "prod"

POSTGRES_DB=pielam_db
POSTGRES_DB_USER=pielam_user
POSTGRES_DB_PASSWORD=password
POSTGRES_DB_HOST=postgres_service    # Can't be changed, beause this is docker container, always same.
POSTGRES_DB_PORT=5432    # Can't be changed, because this is fixed, always same.

BACKEND_PORT=9375

# And all other can be changed as requirement except those prohibited above !...
